<body>
    <a href="/">Home</a><br><!--Link to home page-->
    <h1>Add Student</h1>
    
    <% if (errors != undefined) { %>
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <form action="/addStudent" method="POST">
        <label>Student ID:</label>
        <input type="text" name="sid"><br>
        <label>Name</label>
        <input type="text" name="name"><br>
        <label>Age</label>
        <input type="text" name="age"><br>
        <input type="submit" value="OK">
    </form>
</body>
