<!--Lecturers table with delete link-->
<h1>Lecturers</h1>
<style>
    table,th,td{
        border:1px solid black;/*Adds black border to data*/
    }
</style>

<a href="/">Home</a><br><!--Link to home page-->

<table>
    <tr>
        <th>Lecturer ID</th>
        <th>Name</th>
        <th>Department ID</th>
        <th>Action</th>
    </tr>
    <% lecturersList.forEach((lecturer) =>{ %> 
        <tr>
            <td><%= lecturer._id %></td>
            <td><%= lecturer.name %></td>
            <td><%= lecturer.did %></td>
            <td><a href="/lecturers/delete/<%= lecturer._id%> ">Delete</a></td>
        </tr>
    <% }) %>
    </table>
    