<!--Student table-->
<h1>G00405393</h1>
<style>
    table,th,td{
        border:1px solid black;/*Adds black border to data*/
    }
</style>

<table>
    <tr>
    <th>Student ID</th>
    <th>Name</th>
    <th>Age</th>
    </tr>
    <% studentsList.forEach((student) =>{ %> 
        <tr>
            <td><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
        </tr>
    <% }) %>
    </table>
    