<!--Student table with update link-->
<h1>G00405393</h1>
<style>
    table,th,td{
        border:1px solid black;/*Adds black border to data*/
    }
</style>

<a href="/addStudent">Add Student</a><br><!--Link to home page-->
<a href="/">Home</a><br><!--Link to home page-->

<table>
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    <% studentsList.forEach((student) =>{ %> 
        <tr>
            <td><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%= student.age %></td>
            <td><a href="/students/edit/<%= student.sid %>">Update</a><br></td>
        </tr>
    <% }) %>
    </table>
    